app/*.db
app/data/*.db
*.db
backups/
__pycache__
*.pyc
venv/
.venv/
.env
.DS_Store
node_modules/
*.db
*.apkg
*.db-shm
*.db-wal
*.bak
backups/
uvicorn.log
app/seed_from_dump.py
app/seed_without_fk.py
app.tar
